#header {
    background-color: #0677bd;
    color: white;
    height: 4.64875rem;
    width: 100%;
    margin-top: -2.5rem;
    margin-bottom: 5rem;
    border-bottom: 4px solid #05395a;
}
#header h2 {
    text-align: center;
    margin: 0;
    padding: 1.2rem;
}
