#question {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding: 2rem 2rem 3rem;
    border-radius: 2rem;
    border-bottom: 4px solid #b1b1b1;
    width: 70%;
    max-width: 31.25rem;
    /* margin: 5rem; */
}
#question h2 {
    color: #e11859;
    text-align: center;
    margin: -1rem 0 2rem;
}
#question p {
    color: #0677bd;
    text-align: center;
    margin: 0rem 0 2rem;
}
#question button:hover {
    background-color: #029eff;
}
#question button:active {
    background-color: #033858;
}
