#welcome {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 2rem 3rem;
    border-radius: 2rem;
    border-bottom: 4px solid #b1b1b1;
    width: 70%;
    max-width: 31.25rem;
    /* margin: 5rem; */
}
#welcome h2 {
    color: #737373;
    text-align: left;
}
#welcome input {
    border-radius: 2rem;
    border: none;
    border-top: 2px solid #aaaa;
    background-color: #e3e3e3;
    padding: 1rem;
    color: black;
    font-size: 1.2rem;
}
#welcome input:focus {
    outline-color: #4d4d4d;
}
#welcome button:hover {
    background-color: #afafaf;
}
#welcome button:active {
    background-color: #4d4d4d;
}
