* {
    padding: 0;
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: #fff;
}

body,
html {
    min-height: 100vh;
    height: 100%;
    background-color: #e3e3e3;
}

button {
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #737373;
    border: none;
    border-radius: 2rem;
}
